.flex {
    display: flex;
    
    &.flex-center {
        justify-content: space-around;

        >div {
            margin: 0;
        }
    }
    .fl {
        width: 100%;

        &-1 {
        	width: percentage(120px/1240px);
        }
        &-2 {
        	width: percentage(240px/1240px);
        }
        &-3 {
        	width: percentage(360px/1240px);
        }
        &-4 {
        	width: percentage(480px/1240px);
        }
        &-5 {
        	width: percentage(600px/1240px);
        }
        &-6 {
        	width: percentage(720px/1240px);
        }
        &-7 {
        	width: percentage(840px/1240px);
        }
        &-8 {
        	width: percentage(960px/1240px);
        }
        &-9 {
        	width: percentage(1080px/1240px);
        }
        &-10 {
        	width: percentage(1200px/1240px);
        }
        &-11 {
        	width: percentage(1320px/1240px);
        }
        &-12 {
        	width: percentage(1240px/1240px);
        }
    }

    .fl-style {
        padding: 10px;
        border: solid 1px rgba(0, 0, 0, 0.14);
        text-align: center;
    }
}