.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999999;
    background: #f4f1ec;

    .parts {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        animation: 2s infinite beatHeart;
        animation-delay: 2s;
        
        .logo-container {
            position: relative;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                margin: auto;

                &.p1 {
                    bottom: 0;
                    left: -2px;
                    animation: p1 2s;
                }
                &.p2 {
                    left: -1px;
                    bottom: 0;
                    right: 0;
                    animation: p2 2s;
                }
                &.p3 {
                    right: 0;
                    top: 2px;
                    animation: p3 2s;
                }
            }
        }
    }
}

@keyframes p1 {
    0% {
        left: -999px;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        left: -2px;
        opacity: 1;
    }
}
@keyframes p2 {
    0% {
        bottom: -999px;
        left: 0;
        right: 0;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        bottom: 0;
        left: -1px;
        right: 0;
    }
}
@keyframes p3 {
    0% {
        right: -999px;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        right: 0;
    }
}
@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}