body {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 16px;
    max-width: 1440px;
    margin: auto;

    &.loaded {
        >*:not(.loader) {
            opacity: 1;
        }
    }

    * {
        box-sizing: border-box;
        outline: none;
    }
    >* {

        &:not(.loader) {
            opacity: 0;
        }
    }
    p {
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    img {
        display: block;
        max-width: 100%;
    }
}

header {
    &.uninav-header.uninav-default {
        height: 100px;
        width: 100%;

        &.header-sticky {
            height: 100px;

            nav {
                // padding-top: 0;
            }
            .logo {
                margin-left: 20px;
            }
        }
        .fa {
            font-family: $font-fontawesome;
        }
        nav {
            background: #181818;
            padding: 10px 0 10px; // position: fixed;
            z-index: 9;
            width: 100%;
            top: 30px;
            position: fixed;

            .container {
                padding: 0;
                position: relative;
            }
            a {
                display: block;
            }
            .flex {
                align-items: center;
            }
            .burger,
            .search {
                color: #fff;
                font-size: 1.5em;
            }
            .logo {
                margin-left: 20px;
            }
            .search {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 30px;
            }
        }

        .nav-side {
            background: #181818;
            padding: 20px 0;
            max-width: 350px;
            width: 100%;
            max-height: 100vh;
            height: 100%;
            position: fixed;
            top: 0;
            left: -350px;
            z-index: 10;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0;
            }

            .container {
                padding: 0;
                width: 100%;
                max-width: 100%;
            }
            .menu,
            .sub {
                list-style: none;
                padding: 0;

                .item {
                    text-transform: uppercase;
                    font-weight: 300;

                    &.parent {
                        position: relative;
                        cursor: pointer;

                        &:hover {
                            background: #424242;
                        }
                        &:after {
                            font-family: $font-fontawesome;
                            content: '\f107';
                            font-size: 1em;
                            color: #fff;
                            position: absolute;
                            display: block;
                            top: 20px;
                            right: 20px;
                            height: 15px;
                            margin: auto;
                        }

                        &.expand {
                            &:after {
                                top: 20px;
                                content: '\f106';
                            }
                        }
                        >a {
                            display: inline-block;
                        }
                    }
                    a {
                        color: #fff;
                        display: block;
                        padding: 20px;
                        font-family: $font-roboto;

                        &:hover {
                            background: #424242;
                        }
                    }
                }
            }
            .sub {
                display: none;
                background: #912128;

                .item {
                    a {
                        padding: 15px 15px 15px 40px;

                        &:hover {
                            background: #ad2830;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background: #181818;
    font-family: "Montserrat", sans-serif;

    p,
    a {
        font-size: 0.750em;
        color: #fff;
    }
    .container {
        padding: 10px 0;
    }
    .flex {
        align-items: center;
        justify-content: space-between;
    }
    .links {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 50%;
        a {
            text-transform: uppercase;
        }
    }
    .social {
        width: 15%;
        justify-content: space-around;
        a {
            font-size: 1em;
        }
    }
}

form {
    select,
    input:not([type="checkbox"]),
    ul {
        margin-top: 20px;
        display: block;
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 1px;
        border: solid 1px #bdbdbd;

        &.gradient {
            background: #e52c37;
            background: -moz-linear-gradient(left, #e52c37 0%, #e54d2c 100%);
            background: -webkit-linear-gradient(left, #e52c37 0%, #e54d2c 100%);
            background: linear-gradient(to right, #e52c37 0%, #e54d2c 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e52c37', endColorstr='#e54d2c', GradientType=1);
            color: $color-white;
            border: 0;
        }
    }
    .form-section-group {
        margin: 20px 0;

        &.lg {
            margin-bottom: 40px;
            border-top: solid 1px #bdbdbd;
            margin-top: 40px;
            padding-top: 40px;
        }
        &.instruments {
            .instrument {
                margin-bottom: 20px;
                position: relative;

                .remove {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    font-size: 0.750em;
                }
            }
        }
        &.member-profile {
            .member {
                margin-bottom: 20px;
                position: relative;
                border-bottom: solid 1px #bdbdbd;
                margin-bottom: 40px;
                padding-bottom: 40px;

                &:last-child() {
                    border: none;
                    padding-bottom: 0;
                }
                .remove {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    font-size: 0.750em;
                }
            }
        }
        &.demos {
            .demo {
                padding: 20px 0;
                border-bottom: solid 1px $color-red;
                position: relative;

                .remove {
                    position: absolute;
                    top: 20px;
                    right: 0;
                    padding: 5px;
                    font-size: 0.750em;
                }
                .heading {
                    margin-bottom: 20px;
                }
                .buttons {
                    a {
                        width: 50%;
                        text-align: center;
                        padding: 5px;
                        border-radius: 0;
                        border: solid 2px #e52c37;
                        cursor: pointer;
                        display: block;

                        &:first-child {
                            border-right: 0;
                        }
                    }
                }
                .form-container.file {
                    display: none;
                }
            }
        }
    }
    .section-form {
        display: none;
    }
    .form-container {
        position: relative;
        margin-top: 0px;

        &.required {
            span {
                color: $color-red;
            }
        }

        &.dropdown {
            .input-container {
                &:after {
                    color: #999;
                }
            }
            .items {
                max-height: 200px;
                overflow-y: auto;
            }
        }
        &.upload {
            .input-upload {
                background: url('../images/icon-upload.png') no-repeat #fff;
                background-position: 98% center;
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 0;
                padding-right: 45px;
            }
        }
        label {
            position: absolute;
            display: block;
            padding: 0;
            left: 10px;
            top: 15px;
            color: #999999;
            font-style: italic;
            transition: all ease 0.3s;
        }
        select,
        input {
            transition: all ease 0.5s;
        }
        .sub {
            font-size: 0.750em;
            font-weight: 700;
        }
    }
    .heading {
        font-size: 1.5em;
        font-family: $font-roboto;

        &.section-heading {
            font-size: 1.875em;
        }
    }
    .sub {
        color: #6f6f6f;
        margin: 5px auto 20px;
    }
    .dropdown {
        position: relative;
        z-index: 1;

        &.join-as {
            input {
                text-transform: capitalize;
            }
        }
        &.opened {
            z-index: 2;

            .input-container {
                &:after {
                    content: "\f106";
                }
            }
        }
        .input-container {
            position: relative;
            &:after {
                content: "\f107";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 10px;
                margin: auto;
                height: 20px;
                font-size: 1.250em;
                color: $color-white;
                font-family: $font-fontawesome
            }
            input {
                cursor: pointer;
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            border: 0;
            margin: 0;
            height: auto;
            display: none;
            position: absolute;
            top: 50px;
            -webkit-box-shadow: 0px 8px 34px 0px rgba(0, 0, 0, 0.13);
            -moz-box-shadow: 0px 8px 34px 0px rgba(0, 0, 0, 0.13);
            box-shadow: 0px 8px 34px 0px rgba(0, 0, 0, 0.13);

            li {
                border: solid 1px #bdbdbd;
                a {
                    display: block;
                    padding: 15px 10px;
                    background: $color-white;
                    color: $color-base;
                    transition: background ease 0.5s;

                    &:hover {
                        background: darken($color-white, 15%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .checkbox-row {
        align-items: center;
        height: 50px;
        border: solid 1px #bdbdbd;
        margin-top: 20px;
        padding: 10px;
        position: relative;

        input {
            margin-right: 20px;
            width: 20px;
            height: 20px;
        }
        .checkbox-placeholder {
            width: 25px;
            height: 25px;
            border: solid 1px #bdbdbd;
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: 10px;
            bottom: 0;
            margin: auto;
            background: $color-white;
            color: $color-green;
            text-align: center;
            padding: 0;

            &.checked {
                i {
                    display: block;
                }
            }
            i {
                display: none;
            }
        }
        label {
            font-size: 1.250em;
            font-weight: 700;
        }
    }
}

.mobile {
    display: none;
}

.ad {
    img {
        margin: auto;
    }
}

.container {
    max-width: percentage(1240px/1440px);
    margin: auto;
    padding: 40px 0;
}

.heading {
    font-family: $font-worksans;
    font-size: 3.750em;
    font-weight: 700;
}

.ad {
    .container {
        max-width: 1000px;
        margin: auto auto;
        padding: 20px 15px;

        img {
            display: block;
            width: 100%;
        }
    }
}

.whats-new {
    background-color: #030310;
    color: #fff;
    position: relative;

    >.container {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        margin: auto;
    }
    .heading {
        font-size: 2.250em;
        margin: 0;
    }
    .slider-for {
        .item {
            position: relative;
            .date {
                color: #d7d2d6;
                font-size: 1.5em;
                font-weight: 500;
                margin-top: 40px;
            }
            .details {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;

                .writeup {
                    margin-top: 30px;
                    max-width: 540px;
                    &:before {
                        content: '';
                        display: block;
                        width: 70px;
                        height: 4px;
                        background-color: #e52c37;
                        border-radius: 1px;
                        margin-bottom: 30px;
                    }
                }
                .tag {
                    display: none;
                }
                .title {
                    font-size: 3.000em;
                    line-height: 1.2;
                }
                .desc {
                    font-size: 1.250em;
                    margin-top: 10px;
                }
            }
            .cover-photo {
                text-align: right;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 60%;
                    height: 100%;
                    left: 0;
                    background: -moz-linear-gradient(left, rgba(5, 5, 18, 1) 0%, rgba(5, 5, 18, 1) 60%, rgba(5, 5, 18, 0) 100%);
                    background: -webkit-linear-gradient(left, rgba(5, 5, 18, 1) 0%, rgba(5, 5, 18, 1) 60%, rgba(5, 5, 18, 0) 100%);
                    background: linear-gradient(to right, rgba(5, 5, 18, 1) 0%, rgba(5, 5, 18, 1) 60%, rgba(5, 5, 18, 0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050512', endColorstr='#00050512', GradientType=1);
                }
                .card {
                    display: none;
                }
                img {
                    max-width: 100%;
                    width: auto;
                    margin: auto 0 auto auto;
                }
            }
        }
    }
    .slider-nav {
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        .slick-list {
            width: 100%;
            margin: auto;

            .item {
                margin-right: 10px;
                position: relative;

                &:after {
                    content: '';
                    background: rgba(74, 72, 72, 0.5);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &.slick-current {
                    &:after {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.spotlight {
    background: #e7e7e7;

    .heading {
        font-size: 3.125em;
    }
    .flex {
        margin-top: 50px;
        justify-content: space-evenly;

        .fl-4 {
            position: relative;
            width: percentage(380px/1240px);

            >.tag {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .thumb {
                img,
                a {
                    display: block;
                    width: 100%;
                }
                img {
                    border-radius: 6px 6px 0 0;
                }
            }
            .details {
                padding: 20px 10px;
                background: #fff;
                border-radius: 0 0 6px 6px;
            }
            .title {
                font-size: 1.875em;

                a {
                    color: $color-base;
                }
            }
            .desc {
                color: #999999;
                margin-top: 10px;
            }
        }
    }
}

.be-discovered,
.dont-miss-out {
    position: relative;
    background-size: cover !important;

    .cover {
        img {
            width: 100%;
            display: block;
        }
    }
    .container {
        padding: 20px 0;
    }
    .cover-photo {
        text-align: right;
        position: relative;

        img {
            max-width: 100%;
            width: auto;
            margin: auto 0 auto auto;
            display: block;
        }
    }
    .cover {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        img {
            height: 100%;
            max-width: 100%;
            width: 100%;
        }
    }
    .writeup {
        color: #fff;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background: -moz-linear-gradient(left, rgba(5, 5, 18, 1) 0%, rgba(5, 5, 18, 1) 20%, rgba(5, 5, 18, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(5, 5, 18, 1) 0%, rgba(5, 5, 18, 1) 20%, rgba(5, 5, 18, 0) 100%);
        background: linear-gradient(to right, rgba(5, 5, 18, 1) 0%, rgba(5, 5, 18, 1) 20%, rgba(5, 5, 18, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050512', endColorstr='#00050512', GradientType=1);
    }
    .desc {
        font-size: 1.5em;
        font-weight: 300;
    }
}

.episode-block {
    margin-bottom: 20px;
    &.featured {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: solid 1px #eaeaea;
        position: relative;

        .details,
        .thumb {
            padding-left: 0;
            width: 100%;

            a,
            img {
                display: block;
                margin: auto;
            }
        }
        .thumb {
            margin-bottom: 20px;
        }
        .title {
            font-size: 1.875em;
            font-weight: 500;
        }
        .tag {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
    }
    .photo-count {
        color: #706161;
        text-transform: uppercase;
        font-weight: 700;
    }
    .thumb {
        width: 40%;
        position: relative;
        img {
            display: block;
            width: 100%;
        }
        .time {
            position: absolute;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, .7);
            color: $color-white;
            font-size: 0.875em;
            padding: 5px;
        }
    }
    .details {
        padding-left: 20px;
        width: 60%;

        .desc {
            line-height: 1.2;

            p {
                margin-bottom: 20px;
            }
        }
    }
    .playlist {
        color: #706161;
        text-transform: uppercase;
        font-weight: 700;
        margin: 7px 0;
        display: block;

        a {
            color: #706161;
        }
    }
    .title {
        font-size: 1.5em;
        margin-bottom: 10px;
        font-weight: 400;

        a {
            color: #000;
        }
    }
}

.must-watch {
    .heading {
        margin-bottom: 20px;
        font-size: 3.125em;
    }
}

.playlists {
    padding: 40px 40px 20px 0;

    .heading {
        font-size: 3.125em;
    }
    .sub {
        font-size: 1.5em;
        color: #999;
        text-transform: uppercase;
        font-weight: 700;
    }
    .item {
        position: relative;
        margin-bottom: 20px;
        color: #fff;
        position: relative;
        min-height: 225px;

        .watermark {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1;
        }
        .cover {
            position: relative;

            a {
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 100%);
                    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 100%);
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8a000000', GradientType=0);
                }
            }
            img,
            a {
                display: block;
                width: 100%;
            }
        }
        .details {
            position: absolute;
            bottom: 20px;
            padding: 0 20px;
        }
        .title {
            font-size: 2.500em;
            font-weight: 600;

            a {
                color: #fff;
            }
        }
        .videos {
            margin: 5px 0;
        }
    }
}

.must-read {
    margin-bottom: 40px;
    .heading {
        margin-bottom: 20px;
        font-size: 3.125em;
    }
    .item {
        margin-bottom: 10px;
        align-items: stretch;

        .thumb {
            width: 40%;

            a,
            img {
                display: block;
                width: 100%;
            }
        }
        .details {
            width: 60%;
        }
        .title {
            padding-left: 10px;
            a {
                color: #000;
            }
        }
    }
}

.events {
    .heading {
        font-size: 2.500em;
        padding-top: 40px;
    }
    form {
        margin: 20px 0;
        position: relative;

        input {
            height: 50px;
            padding: 10px;
            width: 100%;
            border: solid 1px #999999;
            font-style: italic;
        }
        button {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            background: 0;
            border: 0;
            color: #999999;
            font-size: 1.5em;
        }
    }

    .featured-events {
        .heading {
            margin-bottom: 20px;
        }
        .breaker {
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            margin: 20px 0;

            &:before,
            &:after {
                content: '';
                width: 50px;
                height: 2px;
                background: #000;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
        .item {
            align-items: center;
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
            padding: 20px 10px;
            margin-bottom: 30px;

            .date {
                text-align: center;

                .day {
                    font-size: 2.500em;
                    font-weight: 700;
                    line-height: .8;
                }
                .month {
                    font-size: 1.125em;
                    text-transform: uppercase;
                }
            }
            .details {
                padding-left: 20px;
                .title {
                    font-size: 1.125em;
                    color: #706161;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                .desc {
                    font-size: 0.750em;
                    color: #999999;
                }
            }
        }
    }
}

.dont-miss-out {
    .cover-photo {
        &:before {
            width: 60%;
        }
    }
}

.live-video,
.digicon {
    background: rgb(132, 103, 82);
    background: -moz-linear-gradient(left, rgba(132, 103, 82, 1) 0%, rgba(158, 73, 67, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(132, 103, 82, 1) 0%, rgba(158, 73, 67, 1) 100%);
    background: linear-gradient(to right, rgba(132, 103, 82, 1) 0%, rgba(158, 73, 67, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#846752', endColorstr='#9e4943', GradientType=1);

    &.side-container {
        background: rgb(60, 17, 109);
        background: -moz-linear-gradient(left, rgba(60, 17, 109, 1) 0%, rgba(199, 38, 61, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(60, 17, 109, 1) 0%, rgba(199, 38, 61, 1) 100%);
        background: linear-gradient(to right, rgba(60, 17, 109, 1) 0%, rgba(199, 38, 61, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c116d', endColorstr='#c7263d', GradientType=1);

        .container {
            max-width: 100%;
            padding: 0 0 40px;
        }
        .brand {
            img,
            a {
                display: block;
                max-width: 100%;
            }
        }
        .video-container {
            width: percentage(872px/1265px);
            background: #000;

            .video {
                width: 100%;
                height: 480px;
                >*:not(.top) {
                    height: 100%;
                    display: block;
                    max-height: 100%;
                }
            }
        }
        .side {
            width: percentage(393px/1265px);
            background: #121212;

            .writeup {
                padding: 30px 20px 0;
            }
            .heading {
                font-size: 1.875em;
            }
            .playlist {
                font-size: 0.875em;
            }
            .episode {
                font-size: 1.625em;
            }
            .share {
                margin-top: 20px;
                p {
                    font-size: 1.125em;
                    margin-right: 10px;
                }
                .social {
                    a {
                        font-size: 1em;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        background: #706161;
                        border: 0;
                        margin-right: 10px;

                        &:hover {
                            background: $color-red;
                        }
                    }
                }
            }
            .tabs {
                margin-top: 20px;
                padding: 10px 0 0;
                justify-content: space-evenly;
                border: solid 1px #262626;
                border-left: none;
                border-right: none;
                a {
                    text-transform: uppercase;
                    color: $color-gray;
                    padding-bottom: 10px;

                    &:hover,
                    &.active {
                        color: #fff;
                        border-bottom: solid 2px #e52c37;
                    }
                }
            }
            .tab-contents {
                padding: 20px 20px 0;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 7px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background: #373737;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

                >.content {
                    display: none;

                    .top-heading {
                        .cat {
                            color: $color-gray;
                            text-transform: uppercase;
                            font-weight: 500;
                        }
                        .title,
                        .question {
                            font-size: 1.875em;
                            color: #fffefe;
                        }
                    }
                }
                .live-content {
                    display: block;
                    .episode-block {
                        margin-bottom: 20px;
                    }
                    .title {
                        color: $color-gray;
                        font-size: 1.250em;

                        a {
                            color: $color-gray;
                        }
                    }
                    .desc {
                        font-size: 0.875em;
                    }
                }
                .replay-content {
                    .replay-list {
                        list-style-type: number;
                        color: #fff;
                        padding-left: 20px;

                        .item {
                            margin-bottom: 30px;
                        }
                        .flex {
                            justify-content: space-between;

                            a {
                                font-size: 1.125em;

                                &.active {
                                    color: #e52c37;
                                    border-bottom: solid 1px #e52c37;
                                }
                            }
                            .time {
                                font-size: 1em;
                                color: #999999;
                            }
                        }
                    }
                }
                .poll-content {
                    .choices-list {
                        margin-top: 30px;

                        .btn {
                            color: $color-gray;
                            text-transform: none;
                            text-align: left;
                            padding: 15px;
                            width: 100%;
                            cursor: pointer;
                            margin-bottom: 20px;
                            font-size: 1em;

                            &:hover,
                            &.active {
                                background-color: $color-red;
                                border-color: $color-red;
                            }
                        }
                        .progress {
                            width: 100%;
                            background-color: transparent;
                            position: relative;
                            color: #717171;
                            margin-bottom: 20px;
                            
                            &.active {
                                .value {
                                    background-color: $color-red;
                                }
                                .title {
                                    border-color: $color-red;
                                }
                            }
                            .value {
                                background-color: #717171;
                                height: 100%;
                                position: absolute;
                                z-index: 0;
                            }
                            .title {
                                position: relative;
                                z-index: 1;
                                padding: 15px;
                                margin: 0;
                                border: solid 1px #717171;
                                border-radius: 2px;
                                color: #cacaca;

                                span {
                                    position: absolute;
                                    right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    p,
    a {
        color: #fff;
    }
    .container {
        position: relative;
    }
    .cover-photo {
        position: relative;
        margin: auto;

        &:before {
            content: '';
            position: absolute;
            width: 50%;
            height: 100%;
            left: 0;
            background: -moz-linear-gradient(left, rgba(5, 5, 18, 1) 0%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-linear-gradient(left, rgba(5, 5, 18, 1) 0%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to right, rgba(5, 5, 18, 1) 0%, rgba(0, 0, 0, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050512', endColorstr='#00000000', GradientType=1);
        }
        img {
            display: block;
            width: 100%;
        }
    }
    .details.episode-block {
        position: absolute;
        padding: 0 30px;
        align-items: center;
        max-height: 100%;
        height: auto;
        width: 100%;
        top: 0;
        bottom: 0;
        height: fit-content;
        margin: auto;
        align-items: stretch;
        z-index: 2;
        color: #fff;
    }
    .top {
        position: absolute;
        align-items: center;
        top: 0;
        width: 100%;
        p {
            margin-left: 20px;
        }
    }
    .thumb,
    .video {
        position: relative;
        margin: 0;
        width: percentage(500px/1240px);
        >*:not(.top) {
            display: block;
            width: 100%;
            max-height: 260px;
            height: 100%;
        }
    }
    .writeup {
        padding-left: 20px;

        .heading,
        .episode {
            font-size: 2.5em;
            color: $color-white;
            margin-bottom: 0;

            a {
                color: $color-white;
            }
        }
        .playlist {
            font-size: 1.125em;
            color: $color-gray;
            a {
                color: $color-gray;
            }
        }
        .share {
            align-items: center;
            margin-top: 40px;
            p {
                font-size: 1.375em;
                margin-right: 40px;
            }
            .social {
                a {
                    font-size: 2em;
                    border: solid 1px #fff;
                    width: 60px;
                    height: 60px;
                    display: inline-block;
                    border-radius: 100%;
                    text-align: center;
                    line-height: 60px;
                    margin-right: 20px;

                    &:hover {
                        background: $color-red;
                    }
                }
            }
        }
    }
}

.digicon {
    &.side-container {
        .side {
            .tabs {
                margin-bottom: 0;
            }
        }
    }
}

.splash-be-discovered {
    text-align: center;
    color: $color-white;
    background-size: cover !important;
    position: relative;

    .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
            max-width: 100%;
            width: auto;
            width: 100%;
        }
    }
    .container {
        position: relative;
        z-index: 1;
    }
    .heading {
        font-size: 3.750em;
    }

    .writeup {
        font-size: 1.875em;
        font-weight: 300;
        line-height: 1.5;

        p {
            margin-top: 20px;
        }
    }
}

.success-stories {
    background: url('../images/bg-concert-lights.png') center top no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .heading,
    .sub {
        color: $color-white;
        text-align: center;
    }
    .heading {
        font-size: 3.750em;
    }
    .sub {
        font-size: 1.875em;
    }
    .stories {
        justify-content: space-evenly;
        margin-top: 140px;
        .item {
            width: percentage(320px/1090px);
            background: $color-white;
            border-radius: 5px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-bottom: 20px;

            .thumb {
                img {
                    border-radius: 100%;
                    display: block;
                    margin: -30% auto 0;
                    border: solid 5px #fff;
                }
            }
            .quote {
                display: block;
                margin: 20px auto;
            }
            .writeup {
                line-height: 1.5;
                padding: 0 20px 20px;
                margin-bottom: 20px;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 1px;
                    background: #ccc;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            .artist {
                font-size: 1.875em;
                text-transform: uppercase;
                font-weight: 600;
            }
            .artist-type {
                text-transform: uppercase;
                color: #999;
                font-weight: 500;
            }
        }
    }
    .button {
        text-align: center;
        margin-top: 40px;

        .btn {
            margin: auto auto;
        }
    }
}

.submit-a-demo {
    background: #e7e7e7;

    .container {
        max-width: 95%;
    }
    .sub {
        color: #999999;
        font-size: 1.875em;
    }
    .cards {
        flex-wrap: wrap;
        margin-top: 40px;

        .card {
            background: $color-white;
            padding: 20px;
            align-items: center;
            width: percentage(380px/1201px);
            margin: 0 7px 15px;
            height: 180px;
            cursor: pointer;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;

            &:hover {
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }

            &.withBg {
                position: relative;
                background-size: cover !important;
                background-position: left top;

                &.font-dark {
                    .powered-by {
                        color: #bb9a0d
                    }
                    .writeup {
                        .title,
                        .desc {
                            color: #000;
                        }
                    }
                }
                .powered-by {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: .750em;
                    color: $color-white;
                }
                .writeup {
                    .title,
                    .desc {
                        color: $color-white;
                    }
                    .desc {
                        font-size: 1em;
                    }
                }
            }
            .logo {
                width: 30%;
            }
            .writeup {
                padding-left: 20px;
                width: 70%;

                .title {
                    color: #706161;
                    font-size: 1.5em;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                .desc {
                    font-size: 1.125em;
                    color: #999999;
                }
            }
        }
    }
}

.splash-be-discovered-submit {
    // background: url('../images/bg-cd-stack.png') no-repeat;
    background-size: cover;
    text-align: center;
    color: $color-white;
    position: relative;

    .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
    .container {
        max-width: percentage(728px/1265px);
        padding: 20px 20px;
        position: relative;
        z-index: 1;
    }
    .heading {
        font-size: 3.750em;
    }
    .writeup {
        >p {
            font-size: 1.250em;
        }
        .notice {
            margin-top: 20px;
            p {
                font-size: 0.875em;
                line-height: 1.5;
                margin-bottom: 20px;
            }
            .text-red {
                text-transform: uppercase;
                margin-bottom: 0;
                display: block;
            }
        }
    }
}

.submit-form {
    .container {
        max-width: percentage(460px/1265px);

        .form-container {
            &.active {
                select,
                input {
                    border-color: $color-green;
                }
                label {
                    color: $color-green;
                    background: $color-white;
                    padding: 0 10px;
                    left: 10px;
                    top: -5px;
                    font-weight: 700;
                    font-size: 0.750em;
                    font-style: normal;
                }
            }
        }
    }
}

.faq {
    background: #e7e7e7;

    .container {
        max-width: percentage(460px/1265px);
    }
    .heading {
        font-size: 2.250em;
    }
    .sub {
        font-size: 1.375em;
        color: #999;
        margin: 20px 0;
    }
    .faq-items {
        margin-top: 40px;
        .item {
            font-weight: 700;
            margin-bottom: 40px;

            .question {
                font-size: 1.250em;
                margin-bottom: 20px;
            }
            .answer {
                font-weight: 400;
                font-size: 1.125em;
                line-height: 1.5;

                a {
                    color: $color-red;
                    text-decoration: underline;
                }
            }
        }
    }
}

.splash-find-artists {
    background: url('../images/bg-girl-headphones.png') no-repeat;
    background-size: cover;

    .container {
        max-width: percentage(1115px/1440px);
    }
    .heading {
        font-size: 5em;
    }
}

.artists-gallery {
    .filters {
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .keyword {
            position: relative;
            width: 30%;

            input {
                width: 100%;
                padding-right: 40px;
                margin-top: 0;
                font-size: 1.250em;
            }
            button {
                position: absolute;
                background: transparent;
                border: 0;
                top: 0;
                bottom: 0;
                right: 10px;
                height: 30px;
                font-size: 1.250em;
                margin: auto auto;
            }
        }
        .filter {
            align-items: center;
            width: 60%;

            >p {
                width: 150px;
            }
            .form-container {
                width: 300px;
                margin-right: 10px;
            }
            .input-container {
                &:after {
                    color: $color-red;
                }
            }
            select {
                margin: 0;
                border-radius: 0px;
                width: 100%;
            }
            input {
                margin-top: 0;
            }
        }
    }
    .gallery-list {
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: space-between;

        &::after {
            content: '';
            flex: auto;
        }

        .item {
            position: relative;
            width: 25%;
            margin-bottom: 20px;
            padding-right: 10px;

            .tag {
                top: 10px;
                right: 10px;
                position: absolute;
                display: none;
            }
            .details {
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% - 10px);
                height: 100%;
                background: rgba(0, 0, 0, .7);
                text-align: center;
                display: none;
            }
            .writeup {
                color: $color-white;
                text-transform: uppercase;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            .artist {
                font-size: 1.875em;
            }
            .btn {
                font-size: 1em;
                padding: 5px 20px;
            }
        }
    }
}

.artist-inner {
    .article-content {
        position: relative;

        .follow {
            position: absolute;
            width: 250px;
            top: 0;
            right: 40px;
            align-items: center;
            justify-content: flex-end;

            >p {
                text-transform: uppercase;
                color: #999;
                font-weight: 700;
            }
            .icon-follow {
                // background: #706161;
                display: block;
                color: #fff;
                width: 50px;
                height: 50px;
                line-height: 45px;
                border-radius: 100%;
                text-align: center;
                font-weight: 700;
                font-weight: 700;
                margin-left: 10px;
            }
            .links {
                background: #e7e7e7;
                padding: 0;
                list-style: none;
                width: 250px;
                position: absolute;
                top: 45px;
                display: none;

                li {
                    padding: 0 20px;

                    &:last-child {
                        a {
                            border-bottom: 0;
                        }
                    }
                    &:hover {
                        background: $color-red;

                        a {
                            color: $color-white;
                            border-color: $color-red;
                        }
                    }
                    a {
                        display: block;
                        padding: 20px 0px;
                        color: #706161;
                        text-transform: uppercase;
                        font-weight: 700;
                        border-bottom: solid 1px #999;
                    }
                }
            }
        }
        .title-article {
            font-size: 2.625em;
            margin-top: 10px;
        }
        .sticky {
            padding-right: 40px;

            >.writeup {
                margin: 20px 0 40px;
                p {
                    margin-bottom: 20px;
                    line-height: 1.3;
                }
            }
        }
        .other-details {
            align-items: flex-end;
            .detail {
                margin-right: 50px;
                text-align: center;

                &.share {
                    a {
                        margin: auto auto 20px;
                    }
                }
                p {
                    font-weight: 300;
                }
                .genre,
                .category {
                    font-size: 1.250em;
                    color: #706161;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.discography {
    margin-top: 40px;
    padding-top: 40px;
    border-top: solid 1px #999;
}

.discography-list,
.upload-list {
    margin-top: 20px;
    .episode-block {
        .thumb {
            position: relative;
            .tag {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .title {
            margin-bottom: 5px;
        }
        .date {
            font-size: 0.875em;
            color: #999;
        }
        .plays {
            font-size: 1.125em;
            color: $color-green;
            margin-top: 20px;
        }
    }
}

.event-container {
    margin-top: 20px;
    padding-top: 40px;
    border-top: solid 1px #999;

    .title-article {
        margin-bottom: 10px;
    }
    .no-event {
        color: #999;
        margin-bottom: 20px;
    }
}

.event-item {
    color: #fff;
    position: relative;
    background-size: cover !important;

    .cover {
        width: 100%;
    }
    .details {
        padding: 20px;
        height: 100%;
        background: rgba(0, 0, 0, .5);
    }
    .date-container {
        span {
            display: block;
            text-align: center;
            line-height: 1;

            &.month {
                font-size: 1.625em;
                text-transform: uppercase;
            }
        }
    }
    .writeup {
        padding-left: 20px;

        .event-title {
            color: #fdb14d;
            font-size: 1.875em;
            font-weight: 700;
            font-family: $font-roboto;
        }
        .address,
        .time,
        .desc {
            font-size: 1.125em;
        }
        .time {
            font-weight: 700;
            margin-bottom: 30px;
        }
        .desc {
            line-height: 1.3;
            margin-bottom: 30px;
        }
    }
}

.buttons {
    margin-top: 40px;
    text-align: center;

    >div {
        margin-right: 70px;
    }
    .icon {
        display: block;
        margin: auto;
        width: 65px;
        height: 65px;
    }
    .label {
        font-size: 1.125em;
        margin-top: 20px;
        color: #cacaca;
        font-weight: 300;
    }
}

.article-side {
    .side-content {
        margin-top: 40px;

        .title-article {
            font-size: 1.875em;
            margin-bottom: 20px;
        }
        .item {
            margin-bottom: 20px;
            .thumb {
                width: 50%;
                position: relative;

                img {
                    width: 100%;
                }
                .tag {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .time {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: rgba(0, 0, 0, .7);
                    color: $color-white;
                    font-size: 0.875em;
                    padding: 5px;
                }
            }
            .details {
                width: 50%;
                padding-left: 10px;

                a {
                    color: $color-base;
                }
                .photo-count {
                    color: #706161;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                .tag {
                    padding: 2px 5px;
                }
                .season {
                    font-size: 1.125em;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #666666;
                    margin: 5px 0;
                }
                .title {
                    font-size: 1em;
                }
            }
        }
    }
}

.dynamic-bg {
    position: relative;
    .cover {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
    .container {
        position: relative;
        z-index: 1;
    }
}

.splash-events {
    background-size: 100% auto;
}

.event-section {
    background: #132ea4;
    background: -moz-linear-gradient(45deg, #132ea4 0%, #d41441 100%);
    background: -webkit-linear-gradient(45deg, #132ea4 0%, #d41441 100%);
    background: linear-gradient(45deg, #132ea4 0%, #d41441 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#132ea4', endColorstr='#d41441', GradientType=1);

    .container {
        max-width: percentage(660px/1265px);
    }
    .keyword {
        position: relative;

        &.loggedout {
            background: #fff;

            input {
                color: #999;
            }
        }
        input {
            width: 100%;
            padding-right: 40px;
            margin-top: 0;
            background-color: transparent;
            color: #fff;
        }
        button {
            position: absolute;
            background: transparent;
            border: 0;
            top: 0;
            bottom: 0;
            right: 10px;
            height: 30px;
            font-size: 1.250em;
            margin: auto;
        }
    }
    .navigation {

        .container {
            padding-bottom: 0;
        }
        .label {
            font-size: 1.875em;
            color: $color-white;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .flex {
            justify-content: space-between;
            align-items: center;

            button {
                background-color: transparent;
                border: none;
                color: $color-white;
                font-size: 2em;
            }
            .month {
                text-transform: uppercase;
                font-size: 1.5em;
                font-weight: 300;
            }
        }
    }
    .event-container {
        border-color: #b0497e;

        .heading {
            font-size: 2.500em;
            font-weight: 400;
            font-family: $font-roboto;
            color: $color-white;
            margin-bottom: 20px;
        }
        .date-container {
            .heading {
                font-size: 3.750em;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
        .event-item {
            margin-bottom: 40px;
            .buttons {
                >div {
                    margin-right: 50px;
                }
            }
        }
        .button {
            margin-bottom: 60px;
        }
    }
}

.splash-article,
.splash-watch {
    background-size: cover !important;

    .container {
        position: relative;
    }
    .heading {
        font-size: 5em;
    }
    .back {
        text-transform: uppercase;
        font-family: $font-worksans;
        color: $color-white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 20px;
        margin: auto auto;
        font-size: 1.125em;

        a {
            color: $color-white;
        }
    }
}

.section-side {
    .fl-8 {
        padding-right: 40px;
    }
}

.tabs {
    justify-content: space-around;
    border-top: solid 1px #eaeaea;
    border-bottom: solid 1px #eaeaea;
    margin-bottom: 40px;
    .tab {
        font-size: 1.250em;
        padding: 10px 0;
        color: #706161;
        text-transform: uppercase;
        display: block;
        border-bottom: solid 2px transparent;

        &.active,
        &:hover {
            border-color: $color-red;
            color: $color-red;
            font-weight: 700;
        }
    }
}

.article-list-container {
    .heading {
        font-family: $font-worksans;
    }
    .content:not(:first-child) {
        border-top: solid 1px #eaeaea;
        padding-top: 40px;
    }
}

.article-page,
.gallery-page,
.watch-page,
.playlist-page {
    &.inner {
        background: #fff;
        transition: all 0.5s ease;

        .episode-block {
            margin-bottom: 40px;
            position: relative;

            .details,
            .thumb {
                padding-left: 0;
                width: 100%;
            }
            .title {
                font-size: 1.875em;
            }
            .writeup {
                margin-bottom: 40px;
                p {
                    margin: 20px 0;
                    line-height: 1.5;
                }
                iframe {
                    width: 100%;
                }
                .ad {
                    text-align: center;
                    margin: 40px 0;

                    img {
                        display: block;
                        margin: auto;
                    }
                }
                .vid-container {
                    margin: 40px auto;
                }
                .img-container {
                    max-width: 50%;
                    margin: 40px auto;
                    img {
                        display: block;
                        margin: auto;
                    }
                    .desc {
                        font-size: 0.875em;
                        margin: 10px 0;
                        font-style: italic;
                    }
                }
            }
            .featured-photo {
                position: relative;
                margin-bottom: 40px;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: block;
                    top: 0;
                    left: 0;
                    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(166, 166, 166, 0) 35%, rgba(0, 0, 0, 0.52) 100%);
                    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(166, 166, 166, 0) 35%, rgba(0, 0, 0, 0.52) 100%);
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(166, 166, 166, 0) 35%, rgba(0, 0, 0, 0.52) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#85000000', GradientType=0);
                }

                .cover {
                    width: 100%;
                }
                .details {
                    position: absolute;
                    bottom: 0;
                    padding: 10px 20px;
                    z-index: 1;

                    .tag {
                        font-size: 1.313em;
                        padding: 15px 20px;
                        margin-bottom: 10px;
                    }
                    .title {
                        font-size: 2.125em;
                        color: $color-white;

                        a {
                            color: $color-white;
                        }
                    }
                }
            }
            .about-the-author {
                .title-strip {
                    background: #efefef;
                    padding: 20px;

                    p {
                        font-size: 2.000em;
                        font-weight: 700;
                    }
                }
                .details {
                    padding: 20px;
                    justify-content: space-between;
                    align-items: center;
                    background: rgb(240, 135, 51);
                    background: -moz-linear-gradient(45deg, rgba(240, 135, 51, 1) 0%, rgba(241, 99, 112, 1) 100%);
                    background: -webkit-linear-gradient(45deg, rgba(240, 135, 51, 1) 0%, rgba(241, 99, 112, 1) 100%);
                    background: linear-gradient(45deg, rgba(240, 135, 51, 1) 0%, rgba(241, 99, 112, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f08733', endColorstr='#f16370', GradientType=1);

                    .avatar {
                        display: block;
                        height: auto;
                    }
                    .writeup {
                        padding: 0 40px 0 20px;
                        margin-bottom: 0;
                        p {
                            color: $color-white;
                        }
                        .name {
                            font-size: 1.875em;
                            margin: 0;
                        }
                        .desc {
                            font-size: 1.125em;
                            margin: 0;
                        }
                    }
                }
            }
        }
        .infinite-scroll-request {
            margin-bottom: 40px;
            img {
                width: 50px;
                margin: auto;
            }
        }
    }
    .buttons {
        border-bottom: solid 1px #eaeaea;
        border-top: solid 1px #eaeaea;
        padding: 20px 0;
        margin-bottom: 40px;

        .label {
            color: #999;
        }
    }
    .author-meta {
        color: #999;
        justify-content: space-between;
        margin: 20px 0;

        span {
            color: $color-base;
        }
        .season {
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    .dark {
        background: #000;
        transition: all 0.5s ease;

        .episode-block .title a,
        .author-meta span,
        .writeup p,
        .side-content .item .details a,
        .side-content .title-article {
            color: #fff;
            transition: all 0.5s ease;
        }
    }
    .episode-block {
        .desc,
        .featured-in {
            color: #999;
            margin-bottom: 20px;
        }
    }
}

.splash-gallery {
    background-size: cover !important;

    .heading {
        font-size: 5em;
    }
}

.gallery-page {
    .slider-gallery {
        .slider-nav {
            padding: 10px 0;
            margin-top: 20px;
            background-color: #d8d8d8;

            .slick-list {
                position: relative;

                &:before {
                    content: '';
                    background: -moz-linear-gradient(left, rgba(127, 13, 13, 0.59) 0%, rgba(127, 13, 13, 0) 68%, rgba(127, 13, 13, 0) 100%);
                    background: -webkit-linear-gradient(left, rgba(127, 13, 13, 0.59) 0%, rgba(127, 13, 13, 0) 68%, rgba(127, 13, 13, 0) 100%);
                    background: linear-gradient(to right, rgba(127, 13, 13, 0.59) 0%, rgba(127, 13, 13, 0) 68%, rgba(127, 13, 13, 0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#967f0d0d', endColorstr='#007f0d0d', GradientType=1);
                    z-index: 2;
                    width: 70px;
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                }
                &:after {
                    content: '';
                    background: -moz-linear-gradient(left, rgba(127, 13, 13, 0) 0%, rgba(127, 13, 13, 0) 32%, rgba(127, 13, 13, 0.59) 100%);
                    background: -webkit-linear-gradient(left, rgba(127, 13, 13, 0) 0%, rgba(127, 13, 13, 0) 32%, rgba(127, 13, 13, 0.59) 100%);
                    background: linear-gradient(to right, rgba(127, 13, 13, 0) 0%, rgba(127, 13, 13, 0) 32%, rgba(127, 13, 13, 0.59) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f0d0d', endColorstr='#967f0d0d', GradientType=1);
                    z-index: 2;
                    width: 70px;
                    display: block;
                    height: 100%;
                    right: 0;
                    top: 0;
                    position: absolute;
                }
            }
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
        .slick-prev,
        .slick-next {
            height: 30px;
            width: 30px;
        }
    }
}

.comments-section {
    margin-top: 40px;

    .gig-comments-container {
        width: 100% !important;
    }
    *.gig-comments-more {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        border-radius: 2px;
        font-weight: 400;
        transition: all ease 0.3s;
        width: 100%;
        display: block;
        background: #706161;

        &:hover {
            background: darken(#706161, 10%);
        }
    }
}

.profile-page {
    section:not(.ad) {
        .container {
            max-width: percentage(660px/1440px);
            padding-bottom: 0;
        }
    }
    .heading {
        font-family: $font-roboto;
        font-weight: 500;
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    .profile {
        margin-top: -120px;
        .flex {
            align-items: center;
        }
        .avatar {
            margin-right: 20px;
            img {
                border-radius: 100%;
                border: solid 2px $color-white;
            }
        }
        .name {
            font-size: 2.875em;
            margin-bottom: 20px;
            color: $color-white;
        }
        .edit {
            font-size: 0.938em;
            padding: 10px 20px;

            .icon {
                margin-right: 10px;
            }
        }
    }
    .playlists {
        padding: 0;
        .cover {
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .4);
                top: 0;
                left: 0;
            }
        }
        .delete {
            position: absolute;
            top: 20px;
            right: 20px;

            .icon {
                width: 30px;
                height: 30px;
            }
        }
        .share {
            align-items: center;
            position: absolute;
            top: 20px;
            left: 20px;

            p {
                margin-right: 10px;
                color: #cacaca;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .links {
            .icon {
                width: 30px;
                height: 30px;
            }
        }
        .edit {
            margin-top: 30px;
            .icon {
                margin-right: 5px;
            }
            a {
                text-transform: uppercase;
                color: $color-white;
                font-weight: 700;
            }
        }
        .btn {
            padding: 5px 20px;
        }
    }
    .read-list {
        .trash {
            display: block;
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;


            .icon {
                width: 30px;
                height: 30px;
            }
        }
    }
    .episode-block {
        position: relative;
        .title {
            padding-right: 20px;
        }
    }
}

.watch-page {
    overflow: hidden;

    .video-sliders {
        background: #000;
        padding: 20px 0;

        .title {
            font-size: 2.500em;
            color: $color-white;

            a {
                color: $color-white;
            }
        }

        .slider {

            .slick-list {
                overflow: visible;
            }
            .item {
                position: relative;
                margin-right: 5px;
                transition: all .2s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    position: relative;
                    z-index: 2;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.49) 100%);
                    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.49) 100%);
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.49) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#7d000000', GradientType=0);
                }
                >a {
                    display: block;
                }
                .details {
                    position: absolute;
                    bottom: 0;
                    padding: 10px;
                    z-index: 1;

                    p {
                        color: $color-white;

                        &.artist {
                            font-size: 0.750em;
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                        &.video-title {
                            font-size: 1.250em;
                        }
                    }
                }
            }
            .slick-prev {
                left: 0;
            }
            .slick-next {
                right: 0;
            }
            .slick-prev,
            .slick-next {
                height: 30px;
                width: 30px;
            }
        }
    }
    .featured {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .filter-container {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        p {
            font-size: 1.850em;
        }
        .input-container {
            input {
                background: transparent;
                color: $color-white;
                text-transform: uppercase;
                margin-top: 0;
            }
        }
    }
    .playlist {
        a {
            color: $color-white;
        }
    }
    .buttons {
        border-color: #333333;
    }
    .article-side {
        .playlist {
            color: #ccc;
            font-size: 0.750em;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
    }
    .article-list-container {
        .content {
            >.button {
                border-bottom: solid 1px #333;
                padding-bottom: 40px;
                margin-bottom: 40px;
            }
        }
    }
}

.playlist-page {
    .featured {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .description-container {
        display: none;
    }
    .buttons {
        border-color: #333333;
    }
    .pagination-container {
        border-top: solid 1px #333333;
        border-bottom: solid 1px #333333;
        padding: 20px 0;
        position: relative;
        margin: 40px auto;

        .seek {
            text-align: center;
            font-size: 1.250em;
            justify-content: center;

            .page {
                margin: 0 40px;
            }
        }
        .show-description {
            color: #cccccc;
            line-height: 2;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            height: 30px;
            margin: auto auto;

            i {
                font-size: 2em;
                margin-left: 10px;
            }
        }
    }
    .episode-block {
        .playlist {
            a {
                color: #ccc;
            }
        }
        .trash {
            align-self: center;

            .icon {
                width: 30px;
                height: 30px;
            }
        }
    }
}