///////////////////
// Media Queries //
///////////////////
// Retina query (remove when not needed)
@media (-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {}

// Largest devices
@media (max-width: $screen-lg) {
    .container {
        max-width: 95%;
    }
    .modal .modal-container {
        top: 10%;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .whats-new {
        .slider-nav {
            .slick-list {
                width: 90%;
            }
        }
    }
    .success-stories {
        background-size: cover;

        .stories {
            .item {
                width: 35%;
            }
        }
    }
    .submit-a-demo {
        .cards {
            .card {
                &:last-child {
                    .logo {
                        width: 48%;
                    }
                }
                .writeup {
                    .title {
                        font-size: 1.250em;
                    }
                    .desc {
                        font-size: 1em;
                    }
                }
            }
        }
    }
    .submit-form,
    .faq {
        .container {
            max-width: 50%;
        }
    }
    .event-section {
        .container {
            max-width: 70%;
        }
    }
    .splash-find-artists {
        .container {
            max-width: 95%;
        }
    }
    .profile-page {
        section:not(.ad) {
            .container {
                max-width: 60%;
            }
        }
    }
}

// Large devices
@media (max-width: $screen-md) {
    header.uninav-header.uninav-default {
        &.header-sticky {
            nav {
                padding: 10px 0;
            }
            .logo {
                margin: auto;

                img {
                    width: 80%;
                    margin: auto;
                }
            }
        }
        nav {
            padding: 10px 0;

            .logo {
                margin: auto;

                img {
                    width: 80%;
                    margin: auto;
                }
            }
        }
    }
    footer {
        >.flex {
            flex-direction: column;
        }
        .container {
            padding: 20px 0;
        }
        .links {
            width: 80%;
            margin: 10px auto;
        }
        .social {
            width: 25%;
        }
    }
    form {
        .dropdown {
            .input-container {
                input {
                    font-size: 1.250em;
                }
            }
        }
        .sub {
            font-size: 0.875em;
        }
    }
    .mobile {
        display: block;
    }
    .tabs {
        display: flex;
    }
    .modal {
        .modal-container {
            width: 90%;
            top: 20%;
        }
    }
    .live-video, .digicon {
        &.side-container {
            >.container {
                >.flex {
                    flex-direction: column;
                }
                .video-container,
                .side {
                    width: 100%;
                }
            }
        }

        .container {
            max-width: 100%;
            padding: 0;
        }
        .cover-photo {
            position: absolute;
            top: 0;
        }
        .writeup {
            padding: 30px 20px;

            .heading {
                font-family: $font-worksans;
                font-size: 3.125em;
            }
            .playlist,
            .episode {
                display: none;
            }
            .share {
                margin-top: 10px;

                p {
                    font-size: 1em;
                    margin-right: 10px;
                }

                .social {
                    a {
                        font-size: 1.125em;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        margin-right: 10px;
                        background: $color-red;
                        border: 0;
                    }
                }
            }
        }
        .details {
            &.episode-block {
                flex-direction: column-reverse;
                padding: 0;
                position: relative;
                z-index: 1;
                background: transparent;

                .thumb,
                .writeup {
                    width: 100%;
                }
            }
        }
        .thumb,
        .video {
            >*:not(.top) {
                max-height: 100%;
                min-height: 480px;
            }
        }
    }
    .section-side {
        .container>.flex {
            flex-direction: column;
        }
        .fl-8,
        .fl-4 {
            width: 100%;
            padding-right: 0;
        }
    }
    .events {
        .heading {
            font-size: 3em;
        }
        .desc {
            font-size: 1.5em;
        }
        .featured-events {
            .breaker {
                font-size: 1.5em;
                margin: 40px auto;

                &:before,
                &:after {
                    width: 30%;
                }
            }
            .item {
                padding: 40px;
                .date {
                    .day {
                        font-size: 4.875em;
                    }
                    .month {
                        font-size: 2.125em;
                    }
                }
                .details {
                    padding-left: 30px;

                    .title {
                        font-size: 2em;
                    }
                    .desc {
                        font-size: 1.375em;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .must-read {
        margin-top: 40px;
        .item {
            .title {
                padding-left: 10px;
                font-size: 1.5em;
            }
        }
    }
    .whats-new {
        background: rgb(204, 0, 102);
        background: -moz-linear-gradient(45deg, rgba(204, 0, 102, 1) 0%, rgba(255, 153, 51, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(204, 0, 102, 1) 0%, rgba(255, 153, 51, 1) 100%);
        background: linear-gradient(45deg, rgba(204, 0, 102, 1) 0%, rgba(255, 153, 51, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0066', endColorstr='#ff9933', GradientType=1);
        padding-bottom: 40px;

        >.container {
            position: static;

            .date {
                font-weight: 700;
                font-size: 1.5em;
            }
        }
        .heading {
            font-size: 3em;
        }
        .slider-nav {
            display: none;
        }
        .slider-for {
            padding-bottom: 40px;
            .item {
                margin: 0 20px;

                .date {
                    display: none;
                }
                .cover-photo {
                    &:before {
                        display: none;
                    }
                    .cover {
                        display: none;
                    }
                    .card {
                        display: block;
                        margin: auto;
                        border-radius: 6px 6px 0 0;
                        width: 100%;
                    }
                }
                .details {
                    position: static;
                    background: #fff;
                    border-radius: 0 0 6px 6px;
                    .container {
                        padding: 10px 0;
                        .writeup {
                            margin-top: 0;
                        }
                    }
                    .writeup {
                        &:before,
                        .desc {
                            display: none;
                        }
                    }
                    .tag {
                        display: block;
                    }
                    .title {
                        font-size: 1.250em;
                        color: #000;
                    }
                }
                .button {
                    display: none;
                }
            }
            .slick-dots {
                bottom: 0;
                li {
                    width: 12px;
                    height: 12px;

                    &.slick-active {
                        button {
                            background: $color-white;
                        }
                    }
                    button {
                        border: solid 1px #fff;
                        border-radius: 100%;
                        width: 12px;
                        height: 12px;

                        &:before {
                            color: transparent;
                        }
                    }
                }
            }
        }
    }
    .spotlight {
        .container {
            max-width: 100%;

            .heading {
                max-width: 95%;
                margin: auto;
            }
            .flex {
                padding-bottom: 40px;

                .fl-4 {
                    margin: 0 20px;
                }

                .slick-dots {
                    bottom: 0;
                    li {
                        width: 12px;
                        height: 12px;

                        &.slick-active {
                            button {
                                background: #cc0033;
                            }
                        }
                        button {
                            border: solid 1px #ccc;
                            border-radius: 100%;
                            width: 12px;
                            height: 12px;

                            &:before {
                                color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
    .playlists {
        padding: 0 0 20px;

        .item {
            .videos, .artists {
                font-size: 1.250em;
            }
            .title {
                font-weight: 500;
            }
        }
    }
    .dont-miss-out {
        .heading {
            text-align: center;
            font-size: 2.250em;
            margin: 20px 0;
            text-transform: uppercase;
            font-weight: 600;
        }
        .desc {
            font-size: 1.250em;
            text-align: center;
            padding: 0 60px;
            margin: 20px 0;
            line-height: 1.5;
            font-weight: 300;
        }
        .btn-red {
            width: 50%;
            text-align: center;
            margin: auto;
            display: block;
            font-size: 1.250em;
        }
        .writeup {
            background: transparent;
        }
    }
    .splash-be-discovered {
        text-align: left;
        .heading {
            font-size: 2.250em;
        }
        .writeup {
            font-size: 1.375em;
            line-height: 1.5;

            p {
                margin-top: 20px;
            }
        }
    }
    .success-stories {
        .heading {
            font-size: 2.250em;
            font-weight: 600;
        }
        .sub {
            font-size: 1.250em;
            line-height: 1.5;
        }
        .stories {
            .item {
                width: 45%;

                .writeup {
                    font-size: 1.125em;
                }
            }
        }
    }
    .submit-a-demo {
        .heading {
            font-size: 2.250em;
        }
        .sub {
            font-size: 1.250em;
            line-height: 1.5;
        }
        .cards {
            justify-content: space-around;
            .card {
                width: 47.5%;
                margin: 0 5px 10px;
                margin-bottom: 20px;

                &.withBg {
                    .writeup {
                        .desc {
                            font-size: 1.125em;
                        }
                    }
                }
                .writeup {
                    .title {
                        font-size: 1.5em;
                    }
                    .desc {
                        font-size: 1.125em;
                    }
                }
            }
        }
    }
    .splash-be-discovered-submit {
        .container {
            max-width: 90%;
        }
        .heading {
            font-size: 2.250em;
        }
        .writeup>p {
            font-size: 1.250em;
            line-height: 1.5;
        }
    }
    .submit-form,
    .faq {
        .container {
            max-width: 60%;
        }
    }
    .event-section {
        .keyword {
            background: #fff;

            input {
                color: #999;
            }
        }
        .navigation {
            background: #fff;
            padding-bottom: 40px;

            .container {
                padding-top: 0;
            }
            .label {
                color: #ccc;
                position: relative;
                font-size: 1.125em;

                &:before,
                &:after {
                    content: '';
                    width: 40%;
                    height: 2px;
                    background: #ccc;
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
            .flex {
                border: solid 1px #ccc;
                padding: 10px;
                border-radius: 5px;

                .month {
                    color: #000000;
                    font-weight: 700;
                    font-size: 1.250em;
                }
                button {
                    color: $color-red;
                }
            }
        }
        .container {
            max-width: 100%;
            padding: 20px 20px;
        }
        .event-container {
            border-color: transparent;
        }
    }
    .event-item {
        .writeup {
            line-height: 1.5;
        }
    }
    .splash-find-artists {
        .heading {
            font-size: 3em;
        }
    }
    .artists-gallery {
        .filters {
            flex-direction: column;

            .keyword {
                width: 100%;
                margin-bottom: 20px;
            }
            .filter {
                width: 100%;

                p {
                    display: none;
                }
            }
        }
        .gallery-list .item {
            width: 33.33%;
        }
    }
    .artist-inner {
        .article-content {
            .sticky {
                padding-right: 0;
            }
            .other-details {
                justify-content: center;

                .detail {
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .follow {
                right: 0;
            }
        }
        .event-container {
            display: none;
            border: none;
            padding-top: 0;
            margin-top: 0;
        }
        .discography-list {
            .episode-block {
                .title {
                    font-size: 2em;
                }
                .date {
                    font-size: 1.125em;
                }
                .plays {
                    font-size: 1.5em;
                    font-weight: 300;
                }
            }
        }
        .article-side {
            >.heading {
                font-family: $font-roboto;
                font-size: 2.500em;
                font-weight: 400;
                margin: 20px 0;
            }
            .watch,
            .gallery {
                display: none;
            }
            .side-content {
                .title-article {
                    display: none;
                }
                .item {
                    .details {
                        padding-left: 20px;
                        .tag {
                            display: inline-block;
                        }
                        .title {
                            font-size: 2em;
                        }
                        .photo-count {
                            font-size: 1.375em;
                        }
                    }
                }
            }
            .event-container {
                .title-article {
                    display: none;
                }
            }
        }
    }
    .profile-page {
        margin-bottom: 30px;
        section{
            &:not(.ad) {
                > .container {
                    max-width: 90%;
                }
            }
            &:not(.ad):not(.profile) {
                >.container {
                    margin-top: 30px;
                }
            }
        }
        .tabs {
            display: none;
        }
        .episode-block {
            .title {
                font-size: 1.5em;
            }
        }
        .playlists {
            .edit {
                font-size: 1.5em;
            }
            .btn {
                font-size: 1.125em;
                margin-top: 20px;
            }
        }
    }
    .splash-gallery {
        .heading {
            font-size: 3.750em;
        }
    }
    .article-list-container {
        .heading {
            font-size: 3em;
        }
    }
    .episode-block {
        &.featured {
            .playlist {
                font-size: 1em;
            }
        }
        .photo-count {
            font-size: 1.375em;
        }
        .title {
            font-size: 2em;
        }
        .playlist {
            font-size: 1.250em;
        }
        .details {
            .desc {
                font-size: 1.125em;
                line-height: 1.5;
            }
        }
    }
    .gallery {
        .episode-block {
            &.featured {
                .title {
                    font-size: 1.875em;
                }
                .desc {
                    display: block;
                    line-height: 1.5;
                }
            }
            .title {
                font-size: 2em;
            }
            .desc {
                display: none;
            }
        }
        .article-side {
            .side-content {
                .title-article {
                    display: block;
                    font-size: 3em;
                }
                .item {
                    .details {
                        .photo-count {
                            font-size: 1.375em;
                        }
                    }
                }
            }
            .read {
                display: block;
            }
            .around-the-web {
                display: none;
            }
        }
    }
    .gallery-page {
        .container {
            // max-width: 100%;
        }
    }
    .article-page,
    .gallery-page,
    .watch-page,
    .playlist-page {
        &.inner {
            .episode-block {
                .title {
                    font-size: 2.5em;
                }
                .desc,
                .author-meta {
                    font-size: 1.5em;
                }
                .author-meta {
                    flex-direction: column;
                    margin-top: 30px;
                    .author {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .buttons {
            justify-content: center;
            .mode {
                margin-right: 0;
            }
        }
    }
    .article-side {
        .side-content {
            .item {
                .details {
                    .title {
                        font-size: 2em;
                    }
                }
            }
        }
    }
}

// Medium devices
@media (max-width: $screen-sm) {
    .container {
        max-width: 90%;
    }
    .modal {
        .modal-container {
            top: 0;
        }
    }
    .whats-new {
        .slider-for {
            .item {
                margin: 0 5px;
            }
        }
    }
    .spotlight {
        .container {
            .flex {
                .fl-4 {
                    margin: 0 5px;
                }
            }
        }
    }
    .be-discovered,
    .dont-miss-out {
        .desc {
            margin-bottom: 20px;
        }
    }
    .artist-inner {
        .article-content {
            .follow {
                right: 0;
                p {
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #999;
                    font-size: 0.875em;
                }
                .icon-follow {
                    width: 30px;
                    height: 30px;
                }
            }
            .title-article {
                font-size: 1.875em;
            }
            .sticky {
                >.writeup {
                    p {
                        font-size: 0.875em;
                    }
                }
            }
            .other-details {
                justify-content: space-around;

                .detail {
                    margin: 0;

                    &.share {
                        a {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .genre,
                    .category {
                        font-size: 0.875em;
                    }
                }
            }
        }
    }
    .article-side {
        .side-content {
            .item {
                .details {
                    .title {
                        font-size: 2em;
                    }
                }
            }
        }
    }
    .profile-page {
        .profile {
            .name {
                font-size: 2.5em;
            }
        }
    }
    .gallery {
        .episode-block {
            .photo-count {
                font-size: 1em;
            }
            .title {
                font-size: 1.25em;
            }
        }
        .article-side {
            .side-content {
                .title-article {
                    font-size: 2em;
                }
                .item {
                    .details {
                        .photo-count {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

// Small devices
@media (max-width: $screen-xs) {
    footer {
        .copyright {
            text-align: center;
            line-height: 1.5;
            span {
                display: block;
            }
        }
        .links {
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 20px auto;
            li {
                margin: 5px 10px;
            }
        }
        .social {
            width: 50%;
        }
    }
    .modal {
        .modal-container {
            top: 20%;
            .modal-content {
                iframe {
                    min-height: 250px;
                }
            }
        }
    }
    .dynamic-bg .container {
        padding: 20px 0;
    }
    .heading {
        font-size: 2.5em;
    }
    .success-stories {
        .stories {
            flex-direction: column;

            .item {
                width: 100%;
                margin-bottom: 160px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .button {
            .btn {
                width: 100%;
            }
        }
    }
    .submit-a-demo {
        .cards {
            .card {
                width: 100%;
            }
        }
    }
    .be-discovered {
        .heading {
            text-align: center;
            font-size: 2.250em;
            margin: 10px 0;
            text-transform: uppercase;
        }
        .desc {
            font-size: 1.250em;
            text-align: center;
            padding: 0;
            margin: 10px 0;
            line-height: 1.5;

            span {
                display: block;
            }
        }
        .btn-red {
            width: 100%;
            text-align: center;
            margin: auto;
            display: block;
        }
        .writeup {
            background: transparent;
        }
    }
    .dont-miss-out {
        .desc {
            padding: 0;
        }
        .btn-red {
            width: 100%;
        }
    }
    .splash-be-discovered-submit {
        text-align: left;

        .container {
            max-width: 100%;
            padding: 40px 20px;
        }
    }
    .submit-form,
    .faq {
        .container {
            max-width: 100%;
            padding: 40px 20px;
        }
    }
    .faq {
        .faq-items {
            padding-left: 20px;
        }
    }
    .event-section {
        .event-container {
            .heading {
                font-size: 1.750em;
            }
            .date-container {
                .heading {
                    font-size: 2.500em;
                }
                .month {
                    font-size: 1.125em;
                }
            }
            .event-item {
                .buttons {
                    >div {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    .buttons {
        .icon {
            width: 40px;
            height: 40px;
        }
        .label {
            margin-top: 5px;
            font-size: 0.750em;
        }
    }
    .artists-gallery {
        .filters {
            .filter {
                flex-direction: column;

                p {
                    width: 100%;
                    text-align: center;
                    position: relative;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    color: #999;
                    display: block;

                    &:before,
                    &:after {
                        content: '';
                        width: 30%;
                        height: 2px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        background: #999;
                    }
                    &:before {
                        left: 0;
                    }
                    &:after {
                        right: 0;
                    }
                }
                .form-container {
                    width: 100%;
                    margin: 0 0 10px;
                }
            }
        }
        .gallery-list {
            .item {
                width: 50%;

                .tag {
                    font-size: 0.875em;
                    padding: 5px;
                    top: 5px;
                    right: 5px;
                }
                .artist {
                    font-size: 1.125em;
                }
                .artist-type {
                    font-size: 0.750em;
                    margin-top: 5px;
                }
                .button {
                    margin: 10px 0 0;
                }
                .btn {
                    font-size: 0.875em;
                }
            }
        }
    }
    .episode-block {
        .thumb,
        .details {
            width: 50%;
        }
        .details {
            padding-left: 10px;
        }
        .title {
            font-size: 1em;
        }
    }
    .tabs {
        margin-top: 20px;
        .tab {
            font-size: 1em;
        }
    }
    .article-side {
        .side-content {
            .item {
                .details {
                    .title {
                        font-size: 1.125em;
                    }
                    .photo-count {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .discography-list {
        .episode-block {
            .title {
                font-size: 1.125em;
            }
            .date,
            .plays {
                font-size: 0.750em;
            }
            .plays {
                margin-top: 10px;
            }
        }
    }
    .profile-page {
        section{
            &:not(.ad) {
                .container {
                    max-width: 90%;
                }
            }
            &:not(.ad):not(.profile) {
                .container {
                    padding-top: 0;
                }
            }
        }
        .heading {
            font-size: 1.875em;
        }
        .profile {
            > .container {
                padding-top: 75px;
            }
            .avatar {
                width: percentage(100px/400px);

                img {
                    border: solid 4px $color-white;
                }
            }
            .name {
                font-size: 1.375em;
                margin-bottom: 0;
            }
            .edit {
                font-size: 0.750em;
                margin-top: 10px;
                padding: 7px 20px;
            }
        }
        .tabs {
            display: flex;
            margin-bottom: 0;
        }
        .playlists {
            .container {
                max-height: 450px;
                overflow-y: auto;
            }
            .heading {
                display: none;
            }
            .share {
                p {
                    font-size: 0.875em;
                }
            }
            .edit {
                font-size: 0.875em;
            }
            .item {
                .title {
                    font-size: 1.5em;
                }
            }
        }
        .read-list {
            display: none;
            .heading {
                display: none;
            }
        }
        .episode-block {
            .title {
                font-size: 1em;
            }
        }
    }
    .must-watch,
    .playlists,
    .must-read {
        .heading {
            font-size: 2.5em;
            margin-bottom: 0;
        }
    }
    .playlists {
        .sub {
            font-size: 1.250em;
        }
        .item {
            min-height: 0;
            .details {
                padding: 0 10px;
            }
            .title {
                font-size: 1.875em;
            }
            .videos, .artists {
                font-size: 0.875em;
            }
        }
        .btn {
            font-size: 0.875em;
        }
    }
    .discography-list,
    .upload-list {
        .episode-block {
            .thumb {
                .tag {
                    font-size: 0.750em;
                }
            }
            .title {
                font-size: 1.125em;
            }
            .date {
                font-size: 0.750em;
            }
            .plays {
                font-size: 0.875em;
                margin-top: 5px;
            }
        }
    }
    .splash-gallery {
        .heading {
            font-size: 3em;
        }
    }
    .gallery {
        .section-side {
            >.container {
                max-width: 100%;
                padding-top: 0;
            }
        }
        .article-list-container {
            padding: 40px 20px;
            background: #ccc;
            margin-bottom: 20px;
            .heading {
                font-size: 2.5em;
                margin-bottom: 10px;
            }
        }
        .episode-block {
            background: #fff;
            padding-bottom: 0;
            border-radius: 5px;
            flex-direction: column;
            margin-bottom: 20px;

            &.featured {
                .thumb {
                    margin-bottom: 0;
                }
                .desc {
                    display: none;
                }
                .title {
                    font-size: 1.250em;
                    margin-bottom: 0;
                }
            }
            .thumb,
            .details {
                width: 100%;
                margin-bottom: 0;
            }
            .title {
                font-size: 1.250em;
                margin-bottom: 0;
            }
            .photo-count {
                font-size: 0.875em;
            }
            .details {
                padding: 10px;
            }
            .thumb {
                img {
                    border-radius: 5px 5px 0 0;
                }
            }
        }
        .side-content {
            padding: 0 20px;
        }
    }
    .homepage {
        .section-side {
            background: #ccc;
        }
        .episode-block,
        .articles .item {
            background: #fff;
            padding-bottom: 0;
            border-radius: 5px;
            flex-direction: column;
            margin-bottom: 20px;

            &.featured {
                .thumb {
                    margin-bottom: 0;
                }
                .desc {
                    display: none;
                }
                .title {
                    font-size: 1.250em;
                    margin-bottom: 0;
                }
            }
            .thumb,
            .details {
                width: 100%;
                margin-bottom: 0;
            }
            .title {
                font-size: 1.250em;
                margin-bottom: 0;
            }
            .photo-count {
                font-size: 0.875em;
            }
            .details {
                padding: 10px;
                .tag {
                    background: transparent;
                    padding: 0;
                    font-weight: 700;
                    a {
                        color: $color-red;
                    }
                }
            }
            .thumb {
                img {
                    border-radius: 5px 5px 0 0;
                }
            }
        }
    }
    .events {
        .desc {
            font-size: 1em;
        }
        .featured-events {
            .breaker {
                font-size: 1em;

                &:before,
                &:after {
                    width: 20%;
                }
            }
            .item {
                background: #fff;
                padding: 20px;

                .date {
                    .day {
                        font-size: 2.5em;
                    }
                    .month {
                        font-size: 1.125em;
                    }
                }
                .details {
                    .title {
                        font-size: 1.125em;
                    }
                    .desc {
                        font-size: 0.750em;
                    }
                }
            }
        }
    }
    .artist-inner {
        .discography-list {
            .episode-block {
                .title {
                    font-size: 1.125em;
                }
                .date {
                    font-size: 0.750em;
                }
                .plays {
                    font-size: 0.875em;
                }
            }
        }
        .article-side {
            .side-content {
                .item {
                    .details {
                        padding-left: 10px;
                        .title {
                            font-size: 1.125em;
                        }
                        .tag {
                            background: transparent;
                            color: $color-red;
                            padding: 0;
                            font-size: 0.875em;
                        }
                        .season {
                            font-size: 0.875em;
                        }
                    }
                }
            }
        }
    }
    .event-item {

        .flex {
            flex-wrap: wrap;

            .heading {
                font-family: $font-roboto;
                font-weight: 600;
            }
        }
        .writeup {
            width: 80%;
            padding-left: 10px;

            .event-title {
                font-weight: 300;
                font-family: $font-roboto;
                color: $color-white;
                font-size: 1.250em;
            }
            .address,
            .desc,
            .time {
                font-size: 0.750em;
                font-weight: 300;
            }
            .time {
                font-weight: 500;
            }
        }
        .buttons {
            >div {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .live-video, .digicon {
        .episode-block {
            background: transparent;
        }
        .writeup {
            padding: 15px 20px;
            margin-bottom: 0;
            
            .heading {
                font-size: 1.750em;
            }
            .share {
                .social {
                    a {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 1em;
                    }
                }
            }
        }
    }
    .whats-new {
        .heading {
            font-size: 2.5em;
        }
        >.container {
            padding: 20px 0;
            .date {
                font-size: 1.125em;
                font-weight: 500;
            }
        }
        .details {
            .container {
                max-width: 95%;
            }
        }
    }
    .spotlight {
        .container {
            .flex {
                margin-top: 20px;
            }
        }
        .heading {
            font-size: 2.5em;
        }
    }
}