///////////////
// Variables //
///////////////
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Work+Sans:400,600,700');

// Screen sizes
$screen-xs: 567px;
$screen-sm: 767px;
$screen-md: 992px;
$screen-lg: 1024px;

$color-green: #97d700;
$color-red: #cc3333;
$color-blue: #2c76d1;
$color-white: #fff;
$color-gray: #cacaca;
$color-dark-gray: #898989;
$color-orange: #e52c37;
$color-green: #0eb872;
$color-base: #1c1c1c;

$font-roboto: 'Roboto',
sans-serif;
$font-worksans: 'Work Sans',
sans-serif;
$font-fontawesome: 'Fontawesome',
sans-serif;

.text-green {
    color: #97d700;
}

.text-red {
    color: #e52c37;
}

.text-blue {
    color: #2c76d1;
}

.text-white {
    color: #fff;
}

.text-gray {
    color: #cacaca;
}

.text-dark-gray {
    color: #898989;
}

.text-orange {
    color: #e52c37;
}

.text-base {
    color: #1c1c1c;
}

.text-green {
    color: #0eb872;
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.hide {
    display: none !important;
}

.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}

.button {
    margin: 20px 0;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 2px;
    font-weight: 400;
    transition: all ease 0.3s;
    border: none;

    &.btn-invert {
        background: transparent;
        border: solid 1px #b5b5b5;
    }
    &.block {
        display: block;
        text-align: center;
        width: 100%;
    }
    &.btn-default {
        background: #706161;
    }
    &.btn-red {
        background: #cc3333;

        &:hover {
            background: darken(#cc3333, 10%);
        }
        &.invert {
            border: solid 2px #cc3333;
            background: transparent;
            color: #cc3333;

            &:hover {
                background: #cc3333;
                color: #fff;
            }
        }
    }
}

.tag {
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 15px;
    display: inline-block;
    color: #fff;

    a {
        color: #fff;
    }

    &.red {
        background-color: #dc173c;

        &.inverted {
            background-color: transparent;
            color: #dc173c;
            padding: 0;

            a {
                color: #dc173c;
            }
        }
    }
    &.orange {
        background-color: $color-orange;

        &.inverted {
            background-color: transparent;
            padding: 0;

            a {
                color: $color-orange;
            }
        }
    }
    &.yellow {
        background-color: #faa62e;

        &.inverted {
            background-color: transparent;
            padding: 0;

            a {
                color: #faa62e;
            }
        }
    }
    &.aspiring {
        background: rgb(79, 0, 188);
        background: -moz-linear-gradient(45deg, rgba(79, 0, 188, 1) 0%, rgba(41, 171, 226, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(79, 0, 188, 1) 0%, rgba(41, 171, 226, 1) 100%);
        background: linear-gradient(45deg, rgba(79, 0, 188, 1) 0%, rgba(41, 171, 226, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f00bc', endColorstr='#29abe2', GradientType=1);
    }
    &.rising {
        background: rgb(237, 28, 36);
        background: -moz-linear-gradient(45deg, rgba(237, 28, 36, 1) 0%, rgba(251, 176, 59, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(237, 28, 36, 1) 0%, rgba(251, 176, 59, 1) 100%);
        background: linear-gradient(45deg, rgba(237, 28, 36, 1) 0%, rgba(251, 176, 59, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#fbb03b', GradientType=1);
    }
    &.popular {
        background: rgb(102, 45, 140);
        background: -moz-linear-gradient(45deg, rgba(102, 45, 140, 1) 0%, rgba(237, 30, 121, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(102, 45, 140, 1) 0%, rgba(237, 30, 121, 1) 100%);
        background: linear-gradient(45deg, rgba(102, 45, 140, 1) 0%, rgba(237, 30, 121, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#662d8c', endColorstr='#ed1e79', GradientType=1);
    }
}

.icon {
    display: inline-block;
    &.icon-video {
        background: url('../images/icon-video.png') no-repeat;
        width: 22px;
        height: 12px;
        margin-right: 10px;
    }
    &.icon-share {
        background: url('../images/btn-share-default.png') no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        line-height: 50px;

        &:hover {
            background: url('../images/btn-share-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-follow {
        background: url('../images/btn-follow-default.png') no-repeat;
        background-size: contain;

        &:hover,
        &.active {
            background: url('../images/btn-follow-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-atp {
        background: url('../images/btn-atp-default.png') no-repeat;
        background-size: contain;

        &:hover,
        &.active {
            background: url('../images/btn-atp-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-like {
        background: url('../images/btn-like-default.png') no-repeat;
        background-size: contain;

        &:hover,
        &.active {
            background: url('../images/btn-like-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-play {
        color: $color-white;
        background: $color-red;
        border-radius: 100%;
        position: absolute;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &.icon-tickets {
        background: url('../images/btn-events-gt-default.png') no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        line-height: 50px;

        &:hover {
            background: url('../images/btn-events-gt-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-calendar {
        background: url('../images/btn-stc-default.png') no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        line-height: 50px;

        &:hover {
            background: url('../images/btn-stc-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-save-for-later {
        background: url('../images/btn-read-save-for-later-default.png') no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        line-height: 50px;

        &:hover {
            background: url('../images/btn-read-save-for-later-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-light-mode {
        background: url('../images/btn-dm-default.png') no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        line-height: 50px;

        &:hover,
        &.active {
            background: url('../images/btn-dm-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-fb {
        background: url('../images/btn-fb-default.png') no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        line-height: 50px;

        &:hover,
        &.active {
            background: url('../images/btn-fb-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-twitter {
        background: url('../images/btn-twitter-default.png') no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        line-height: 50px;

        &:hover,
        &.active {
            background: url('../images/btn-twitter-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-trash {
        background: url('../images/btn-trash-default.png') no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        line-height: 50px;

        &.gray {
            background: url('../images/btn-trash-gray.png') no-repeat;
            background-size: contain;
            &:hover {
                background: url('../images/btn-trash-selected.png') no-repeat;
                background-size: contain;
            }
        }
        &:hover,
        &.active {
            background: url('../images/btn-trash-selected.png') no-repeat;
            background-size: contain;
        }
    }
    &.icon-edit {
        background: url('../images/btn-edit.png') no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
        line-height: 15px;
    }
}

.modal {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    overflow-y: auto;

    .modal-container {
        position: absolute;
        width: 70%;
        left: 0;
        right: 0;
        margin: 5% auto;

        .modal-close {
            color: $color-white;
            display: block;
            text-align: right;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .modal-content {
            iframe {
                width: 100%;
                min-height: 500px;
            }
        }
    }
}